.left {
    float: left;
  }
.modal-body {
  height: 70vh;
  overflow: scroll;
}

//   :host {
//   display: flex;
//   flex: 1;
//   flex-direction: column;
//   width: 75vw;
//   min-width: 1000px;
//   position: relative;
// }

// .container {
//   max-width: 1000px;
//   margin: 0 auto;
// }

// .header {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

// .sub-header {
//   font-weight: 600;
//   margin-bottom: 5px;
// }
// .title {
//   font-size: 18px;
// }

// .label {
//   font-weight: 600;
//   margin-bottom: 5px;
//   text-align: left;
// }

// .content {
//   margin-top: 10px;
//   margin-bottom: 10px;
//   min-height: 55vh;
//   height: 65vh;
// }

// .footer {
//   flex: 1;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .row {
//   display: flex;
//   margin: 10px 0px;
//   text-align: right;
// }

// .column {
//   flex: 1;
// }

// .column-wide {
//   flex: 2;
// }

// .no-data-header {
//   margin: auto;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   width: 190px;
//   height: 22px;
// }

// .align-right {
//   text-align: right;
// }

// .action {
//   color: #0070c9;
//   cursor: pointer;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   overflow: hidden;
// }
