// Color code variable
$color-azure: #00b2ef;
$color-black: #000;
$color-charcoal-grey-five: #333539;
$color-charcoal-grey-four: #2b3036;
$color-charcoal-grey-three: #4e5053;
$color-charcoal-grey-two: #353638;
$color-charcoal-grey: #424345;
$color-cool-grey-two: #a7a9ac;
$color-cool-grey: #b2b4b9;
$color-dark-grey-five: #242528;
$color-dark-grey-four: #1b1c1e;
$color-dark-grey-three: #1c1d1e;
$color-dark-grey-two: #292a2b;
$color-dark-grey: #1b1c1e;
$color-dark-sand: #a29060;
$color-dark-three: #1d232e;
$color-dark-two: #15181b;
$color-dark: #16181b;
$color-dull-brown: #83744c;
$color-golden-rod: #f4bd0c;
$color-greyish-brown: #726643;
$color-gunmetal: #4b4e54;
$color-leather: #b38634;
$color-medium-green: #36a738;
$color-pale-grey: #f5f5f6;
$color-pale-sky-blue: #bceeff;
$color-red: #da1000;
$color-silver-four: #e9e9ea;
$color-silver-three: #ccced2;
$color-silver-two: #cecfd1;
$color-silver: #c1c3c5;
$color-slate-grey: #67696d;
$color-stone: #a89a76;
$color-teal-blue: #0079a2;
$color-tomato: #d53f1e;
$color-very-light-blue: #d5f4ff;
$color-white-two: #f6f6f6;
$color-white: #fff;
$color-yellow-orange: #fcba00;
$color-dark-red: #a54943;

// App size variable
$application-min-width: 1120px;
$application-min-height: 750px;
$header-height: 48px;
$app-margin: 18px;
