<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-3">
    <div class="md-form mb-5">
      <i class="fas fa-user prefix grey-text"></i>
      <input type="text" id="orangeForm-name" class="form-control validate" [formControl]="signupFormModalName" mdbInput>
      <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
    </div>
    <div class="md-form mb-5">
      <i class="fas fa-envelope prefix grey-text"></i>
      <input type="email" id="orangeForm-email" class="form-control validate" [formControl]="signupFormModalEmail" mdbInput>
      <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
    </div>

    <div class="md-form mb-4">
      <i class="fas fa-lock prefix grey-text"></i>
      <input type="password" id="orangeForm-pass" class="form-control validate" [formControl]="signupFormModalPassword" mdbInput>
      <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
    </div>

    <div class="md-form mb-4">
      <i class="fas fa-phone prefix grey-text"></i>
      <input type="text" id="orangeForm-phone" class="form-control validate" [formControl]="signupFormModalPhone" mdbInput>
      <label data-error="wrong" data-success="right" for="orangeForm-pass">Mobile</label>
    </div>

    <div class="md-form mb-4">
      <i class="fas fa-address-card prefix grey-text"></i>
      <input type="text" id="orangeForm-address" class="form-control validate" [formControl]="signupFormModalAddress" mdbInput>
      <label data-error="wrong" data-success="right" for="orangeForm-pass">Address</label>
    </div>

  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect (click)="signUp()">Sign up</button>
  </div>
</div>