<div class="row">
  <div class="md-form col-md-3">
      <form [formGroup]="inptForm">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Filter" formControlName="searchField">
          </mat-form-field>
      </form>
  </div>

  <div class="icons col-md-9 " >
    <!-- <mat-icon  matTooltip="refresh data" >refresh</mat-icon> -->
    <mat-icon  matTooltip="download csv" matTooltipPosition="above" (click)="onExport()">save_alt</mat-icon>
    <!-- <mdb-icon  mdbTooltip="download"  fas icon="download"></mdb-icon>
    <mdb-icon class="pull-right" mdbTooltip="refresh"  fas icon="sync-alt"></mdb-icon> -->
  </div>
</div>


<ag-grid-angular
  style="width: 100%; height: 600px;"
  class="ag-theme-material"
  [enableSorting]="true"
  [enableFilter]="true"
  [rowData]="rowData "
  [columnDefs]="columnDefs"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>