
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body{
    height: 100%;
}

.cell-wrap-text {
    white-space: normal !important;
}

md-icon{
  font-family: 'Material Icons' !important;
}


